In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('smsspamcollection/SMSSpamCollection', sep='\t', names=['label', 'message'])

In [10]:
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df.shape

(5572, 2)

 ### Data Cleaning

In [12]:
import re 
import nltk 
from nltk.corpus import stopwords 
from nltk.stem.porter import PorterStemmer

In [13]:
ps = PorterStemmer()

In [19]:
corpus = []
for i in range(len(df)):
    review = re.sub('[^a-zA-Z]', ' ', df['message'][i])
    review = review.lower()
    review = nltk.word_tokenize(review)
    review = [ps.stem(word) for word in review if word not in set(stopwords.words('english'))]
    review = ' '.join(review)
    corpus.append(review)

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

In [28]:
cv = CountVectorizer(max_features=5000)

In [29]:
X = cv.fit_transform(corpus).toarray()

In [30]:
X.shape

(5572, 5000)

In [33]:
y = pd.get_dummies(df['label'])

In [35]:
y = y.iloc[:, 1]

In [37]:
y.head()

0    0
1    0
2    1
3    0
4    0
Name: spam, dtype: uint8

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [41]:
from sklearn.naive_bayes import MultinomialNB

In [42]:
spam_detect_model = MultinomialNB().fit(X_train, y_train)

In [43]:
y_pred = spam_detect_model.predict(X_test)

In [45]:
a = {'Actual': y_test, 'Predicted': y_pred}

In [48]:
pd.DataFrame(a).tail(50)

      Actual  Predicted
3428       0          0
1852       0          0
2925       0          0
5375       0          0
556        0          0
2686       1          1
1855       0          0
1002       1          1
2928       0          0
1721       0          0
2265       0          0
543        0          0
3875       0          0
1180       0          0
5322       0          0
2175       0          0
2207       1          1
4805       0          0
1642       0          0
3991       1          1
5156       0          0
3461       0          0
5398       0          0
5057       0          0
203        0          0
578        0          0
4978       0          0
3412       0          0
1085       0          0
1005       0          0
3957       0          0
3679       1          1
4814       0          0
269        0          0
3853       0          0
817        0          0
2849       0          0
4520       0          0
636        0          0
420        1          1
4506       1          1
245        0          0
1683       0          0
4885       0          0
3225       0          0
2906       0          0
1270       0          0
3944       0          0
2124       1          1
253        0          0

In [52]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [51]:
confusion_matrix(y_test, y_pred)

array([[945,  10],
       [  8, 152]], dtype=int64)

In [53]:
accuracy_score(y_test, y_pred)

0.9838565022421525